---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section1 from '../components/Section1.astro';
import Section2 from '../components/Section2.astro';
import Footer from '../components/Footer.astro';
import Section3 from '../components/Section3.astro';
---

<Layout title="SEC">
	<Header />
	<main>
		<Section1 />
		<div class="separator"></div>
		<Section2 />
		<Section3 />
	</main>
	<Footer />
</Layout>

<style>
	.separator {
		height: 160px;

		background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(wood-texture.webp), lightgray 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}
</style>