---
import Button from './Button.astro';

interface Props {
	title: string;
	image: string;
	href: string;
}

const { href, title, image } = Astro.props;
---

<li>
	<h3>{title}</h3>
	<img src={image} alt="Raza">
	<Button type="primary" label="Ver subastas" size="S" />
</li>

<style>
	li {
		width: 274px;
		height: 390px;
		list-style-type: none;
		
		padding: 32px;
		display: flex;
		flex-direction: column;
		border-radius: 2px 0px 0px 2px;

		background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), 
			url(card-background.jpg), lightgray 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	h3 {
		flex: 1;
		text-align: center;
	}
	img {
		width: 210px;
		height: 170px;
		margin-top: 8px;
		margin-bottom: 32px;
	}
</style>
