<header>
  <img src="Logo azul_San Ángel 2.png" alt="San Angel DE LOS ALTOS">

  <nav>
    <a href="">Inicio</a>
    <a href="">Subastas activas</a>
    <a href="">¿Cómo participar?</a>
    <a href="">Beneficios</a>
    <a href="">Nosotros</a>
  </nav>

  <div class="buttons">
    <a href="" class="btn-secondary">Iniciar sesión</a>
    <a href="" class="btn-primary">Registrarme</a>
  </div>
</header>

<style>
  header {
    height: 80px;
    background-color: #E3DCCE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
  }
  img {
    height: 64px;
  }
  nav {
    display: flex;
    gap: 32px;
  }
  .buttons {
    display: flex;
    gap: 32px;
  }
</style>