---
import Button from "./Button.astro";
---

<header>
  <img src="blue-logo.webp" alt="San Angel DE LOS ALTOS">

  <nav>
    <a href="">Inicio</a>
    <a href="">Subastas activas</a>
    <a href="">¿Cómo participar?</a>
    <a href="">Beneficios</a>
    <a href="">Nosotros</a>
  </nav>

  <div class="buttons">
    <Button type="secondary" label="Iniciar sesión" size="S" />
    <Button type="primary" label="Registrarme" size="S" />
  </div>
</header>

<style>
  header {
    height: 80px;
    background-color: #E3DCCE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
  }
  img {
    height: 64px;
  }
  nav {
    display: flex;
    gap: 32px;
  }
  .buttons {
    display: flex;
    gap: 32px;
  }
</style>