---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	* {
		margin: 0;
		padding: 0;
		font: inherit;
	}
	*, *::before, *::after {
    box-sizing: border-box;
	}
	img, svg, video {
		display: block;
		height: auto;
		max-width: 100%;
	}
	body {
		min-height: 100dvh;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #E3DCCE;
	}
	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
	}
	p {
		text-wrap: pretty;
	}
	h1 {
		font-family: Roboto Slab;
		font-size: 64px;
		font-style: normal;
		font-weight: 700;
		line-height: 72px; /* 112.5% */
	}
	h2 {
		font-family: Roboto Slab;
		font-size: 56px;
		font-style: normal;
		font-weight: 700;
		line-height: 64px; /* 114.286% */
	}
	h3 {
		font-family: Roboto Slab;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 40px; /* 125% */
	}
	h4 {
		font-family: Open Sans;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px; /* 133.333% */
	}
	h5 {
		font-family: Roboto Slab;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px; /* 133.333% */
	}
	h6 {
		font-family: Open Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px; /* 150% */
	}
</style>
