---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	body {
		margin: 0;
	}
  .btn-primary {
    padding: 8px 24px;
    border: 0.5px solid var(--Primary-Primary, #19233E);
    border-radius: 2px;
    background: var(--Primary-Primary, #19233E);
    text-decoration: none;
    color: var(--Neutral-00, #FEFEFE);
  }
  .btn-secondary {
    padding: 8px 24px;
    border: 0.5px solid var(--Primary-Primary, #19233E);
    border-radius: 2px;
    background: var(--Neutral-00, #FEFEFE);
    text-decoration: none;
    color: var(--Primary-Primary, #19233E);
  }
	h1 {
		font-family: Roboto Slab;
		font-size: 64px;
		font-style: normal;
		font-weight: 700;
		line-height: 72px; /* 112.5% */
	}
	h2 {
		font-family: Roboto Slab;
		font-size: 56px;
		font-style: normal;
		font-weight: 700;
		line-height: 64px; /* 114.286% */
	}
	h3 {
		font-family: Roboto Slab;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 40px; /* 125% */
	}
	h4 {
		font-family: Open Sans;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px; /* 133.333% */
	}
	h5 {
		font-family: Roboto Slab;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px; /* 133.333% */
	}
	h6 {
		font-family: Open Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px; /* 150% */
	}
</style>
